/* Code for font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 600;
}


/* Navbar */
.navbar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10000;
}

.nav-item a {
    font-weight: 500;
    color: black;
}

.nav-item a:hover {
    color: #717Fe0;
}

form i {
    color: black;
    font-size: 1.2rem;
}

form i:hover {
    color: #717Fe0;
}

@media (max-width: 992px) {
    .navbar {
        background-color: white;
        position: fixed !important;
        z-index: 100000;
    }
}

/* Carousel */
.carousel-caption-custom {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: black;
    z-index: 20;
}

.carousel-caption-custom p {
    font-size: 1.3rem;
}

.carousel-caption-custom button {
    background-color: #717fe0;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.5s;
}

.carousel-caption-custom button:hover {
    background-color: black;
    color: white;
}

.carimage {
    object-fit: cover;
}

@media (max-width: 768px) {
    .info {
        display: none;
    }

    .carimage {
        min-height: 100vh;
    }

    .carousel-caption-custom h4 {
        font-size: 2.3rem !important;
        font-weight: bold;
    }

    .carousel-caption-custom p {
        font-size: 1rem !important;
    }

    .carousel-caption-custom button {
        background-color: #717fe0;
        border: none;
        border-radius: 50px;
        color: white;
        transition: 0.5s;
    }

    .navbar {
        position: relative;
        top: 0px;
        margin: 0 !important;
        background-color: white;
    }

    .navimage {
        margin-left: 20px !important;
    }

    .navbar-nav {
        display: block;
        width: 40% !important;
    }
}

/* Selection */
.selection {
    width: 350px;
    height: 30vh;
    /* background-color: #717Fe0; */
    border: 1px solid #555555 !important;
    display: flex;
    flex-direction: column;

}

.selection h3 {
    margin-top: 30px;
    font-weight: 600;
    margin-left: 20px;
}

.selection p {
    margin-left: 20px;
    color: #555555;
}

.selection {
    position: relative;
    overflow: hidden;
}

.selection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #717fe0;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.selection {
    position: relative;
    cursor: pointer;
}

.hover-link {
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    top: 30px;
    left: 20px;
}

.hover-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 0%;
    height: 2px;
    /* thickness of underline */
    background-color: white;
    transition: width 0.8s ease;
}

.selection:hover .hover-link::after {
    width: 30%;
    /* expand underline */
}


.selection:hover h3,
.selection:hover p,
.selection:hover .hover-link {
    color: white;
    z-index: 1000;
    background-color: transparent;
}

.selection:hover::after {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .selection {
        width: 100%;
        height: 42vh;
    }
    .loadmore{
        position: relative;
        left: 15%;
    }
}

@media (max-width:992px) {
    .selection {
        width: 100%;
        height: 40vh;
    }
}

/* Product */
.product {
    min-height: 100vh;
    /* background-color: #717fe0; */
}

.product .h1 {
    margin-top: 70px !important;
}

.prod a {
    color: #555555 !important;
}

.prod li a:hover {
    color: black !important;
}

form button:hover i {
    color: white;
}

form button:hover {
    background-color: #717Fe0 !important;
    border: 0;
}

.heart-icon {
    cursor: pointer;
}

.heart-icon:hover {
    color: #717Fe0;
}

.heart-icon.active {
    color: #717Fe0;
}

.proview {
    background-color: white;
    width: 50%;
    position: relative;
    bottom: 60px;
    left: 25%;
    border: 0;
    border-radius: 50px;
    font-size: 0.9rem;
    padding: 8px 9px;
    transition: 0.8s;
    display: none;
}

.img-box {
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.disimage {
    transition: transform 0.6s ease;
    object-fit: cover;
}

.disimage:hover {
    transform: scale(1.1);
}

.proview:hover {
    background-color: black;
    color: white;
}

@media (max-width: 992px) {
    .product .h1 {
        margin-left: 5px !important;
    }

    #navlink ul {
        margin-left: 0px !important;
    }

    #navlink form {
        display: none !important;
    }

    .adj {
        margin-left: 0px !important;
    }
}
/*  */
@media (max-width: 429px) {
   
    .adj{
        width: 100% !important;
        height: 50vh;
        margin-top: 0px !important;
        padding-right: 10px;
    }
    #name{
        font-size: 0.9rem;
    }
    #price{
        font-size: 0.8rem;
    }
    #heart{
        position: absolute;
        left: 20px;
    }
}
/*  */
/* Wishlist */
.wish {
    inset: 0;
    position: fixed;
    z-index: 1000 !important;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.wishlist {
    background-color: whitesmoke;
    height: 40vh;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wishbtn {
    padding: 10px 25px;
    background-color: #717Fe0;
    color: white;
    border-radius: 50px;
    border: 0;
}

/* Tick animation */
.tick-circle {
    width: 70px;
    height: 50px;
    position: relative;
}

.tick-circle svg {
    width: 100%;
    height: 100%;
}

.tick-circle-bg {
    stroke: #28a745;
    stroke-width: 3;
    stroke-dasharray: 157;
    /* circle circumference ≈ 2πr */
    stroke-dashoffset: 157;
    animation: draw-circle 0.5s forwards;
}

.tick-check {
    stroke: #28a745;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 36;
    stroke-dashoffset: 36;
    animation: draw-check 0.5s 0.5s forwards;
}

@keyframes draw-circle {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-check {
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 992px) {
    .wishlist {
        width: 70%;
        height: 300px;
    }
}

/* Product adding to cart over viewing */
.backblur {
    inset: 0;
    z-index: 10000 !important;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.originalverify {
    width: 80%;
    height: 85vh;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forimage {
    width: 50%;
    height: 100%;
    /* background-color: #28a745; */
}

.forcontent {
    width: 50%;
    height: 100%;
    /* background-color: #717Fe0; */
    display: flex;
    margin-left: 50px;
    margin-top: 100px;
    flex-direction: column;
}

.overimage {
    height: 650px;
    padding: 0px 0px 80px 50px;
}

.demo button {
    padding: 7px 12px;
    background-color: white;
    border-color: #d0c6c6 !important;
    border-radius: 5px;
}

.cartbtn {
    margin-left: 50px;
    border-radius: 50px;
    background-color: #717Fe0;
    color: white;
}

.cartbtn:hover {
    background-color: black;
    color: white;
}

.closeview:hover {
    color: red;
}
@media (max-width: 992px) {
    .originalverify{
        margin-top: 120px ;
        width: 100vw;
        height: 100vh;
        display: block;
        overflow: scroll;
    }
    .forimage{
        height: 35vh !important;
        width: 100vw;
        margin-left: 0px;
    }
    .overimage{
        height: 400px;
        width: 85vw !important;
        margin-top: 20px;
    }
    .closeview{
        position: absolute;
        top: 20px;
    }
    .para{
        width: 400px !important;
        display: inline-block;
        height: 100px;
    }
    .viewname{
        
        font-weight: 600;
        width: 400px;
        margin-top: 20px;
    }
    .labelview{
        margin:0px !important;
        margin-top: 20px !important;
    }
    .demo{
        margin: 0px !important;
        margin-top: 80px !important;
        margin-left: 100px !important;
        width: 400px;
    }
}

/* Cart Overview */
.closecart {
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 100px;
    background-color: transparent;
    border: 0;
}

.cartoption {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    inset: 0;
    z-index: 10000;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.procart {
    width: 75%;
    height: 75%;
    background-color: white;
    display: flex;
    border: 1px solid black;
}

.contcart {
    width: 65%;
    height: 100%;
    overflow: scroll;

}

.details {
    width: 35%;
    height: 100%;
    background-color: #555555;
}

.cart-items {
    overflow-y: auto;
}

.contcart::-webkit-scrollbar {
    width: 6px;
}

.contcart::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
}

.contcart::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.cart-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

@media (max-width: 992px) {
    .cartoption {
        display: none;
        z-index: 100000;
    }

    .procart {
        /* background-color: #28a745; */
        width: 100vw;
        height: 100vh;
        display: block;

    }

    .contcart {
        width: 100vw;
        height: 75vh;
    }

    .details {
        /* background-color: #717fe0; */
        width: 100vw;
        height: 25vh;
    }

    .closecart {
        font-size: 1rem;
        position: absolute;
        top: 0px;
        right: 20px;
        background-color: transparent;
        border: 0;
    }
    body{
        overflow-x: hidden;
    }
    
}
@media (max-width: 429px) {
   
    .overimage{
        width: 100%;
        height: 50vh !important;
        margin-top: 20px !important;
    }
    .forcontent{
        margin-left: 0px !important;
        margin-top: 45px !important;
    }
    .para{
        width: 300px !important;
    }
    .labelview{
        margin-top: 15px !important;
        margin-left: 0px !important;
    }
    select{
        position: absolute !important;
        margin-top: 15px !important;
    }
    .demo{
        margin-left: 0px !important;
    }
    #navbarSupportedContent{
        background-color: white !important;
    }
    .productname{
        font-size: 0.7rem;
    }
    .productprice{
        font-size: 0.5rem;
    }
    .productquantity{
        font-size: 0.5rem;
    }
    
}
.loadmore{
    padding: 12px 50px;
    background-color: #e6e6e6;
    border-radius: 50px;
    border: 0;
    position: relative;
    left: 42%;
    transition: 1s;
}
.loadmore:hover{
    background-color: black;
    color: white;
}
@media (max-width: 768px) {
    .loadmore{
        position: relative;
        left: 28%;
    }
}
/* Footer */
.footer{
    width: 100%;
    min-height: 50vh;
    background-color: rgb(43, 41, 41);
    color: white;
}
.ul,.con{
    color: rgb(185, 178, 178);
    list-style: none;
    font-size: 0.8rem;
    line-height: 40px;
}
.inp{
    background-color: transparent;
    height: 40px;
    width: 80%;
    border: 0;
    border-bottom:1px solid #717Fe0 ;
}
::placeholder {
  color: rgb(185, 178, 178);
  opacity: 1; /* Firefox */
}
.subs{
    background-color: #717Fe0;
    color: white;
    border-radius: 50px;
    transition: 0.7s;
}
.subs:hover{
    background-color: white;
    color: #717Fe0;
}

/* New html file blog.html */

.blog{
    width: 100%;
    min-height: 150vh;
    /* background-color: #28a745; */
    display: flex;
}
.blogimg{
    height: 32vh;
    background-image: url(Images/bg-02.webp);
    background-position: center;
    background-size: cover;
    margin-top: 90px !important; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
.blog1{
    width: 70% ;
    height: 100%;
    /* overflow: hidden; */
    /* background-color: #555555; */
}
.random{
    overflow: hidden;
}
.blog2{
    width: 30%;
    height: 100%;
    /* background-color: #717Fe0; */
    /* display: flex; */
    /* align-items: center; */
    flex-direction: column;
}
.bloimage{
    height: 370px;
    width: 840px;
    transition: transform 0.6s ease;
    object-fit: cover;
}
.search{
    border-radius: 50px;
    padding: 12px 25px;
    border: 1px solid grey;
}
.bloimage:hover{
    transform: scale(1.1);
}
@media (max-width:1125px){
    .blog{
        display: block;
    }
}
@media (max-width: 992px) {
    
    .blog1{
        width: 100%;
    }
    .blog2{
        width: 100%;
        margin-top: 100px;
    }
    .search{
        width: 100%;
    }
    .bloimage{
        width:400px;
        height: 270px;
    }
}

@media (max-width:992px) {
   .bloimage{
        width: 75vw;
    }
}
/* About */
.aboutimg{
    height: 32vh;
    background-image: url(Images/bg-01.webp);
    background-position: center;
    background-size: cover;
    margin-top: 90px !important; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
.aboutcontent1, .aboutcontent2{
    width: 100vw;
    min-height: 90vh;
    /* background-color: #28a745; */
}
.abimg{
    height: 336px;
    width: 336px;
}
.abtpara{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-size: 15px;
    line-height:25px;
}
.abtpara2{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-size: 15px;
    line-height:25px;
    margin-right: 70px;
}

@media (max-width:992px) {
   .aboutcontent1,.aboutcontent2{
        display: block !important;
    }
    
    .rarra,.rarra2{
        width: 100% !important;
        margin-left: 0 !important;
        padding:0px 30px;
    }
    .sas , .sas2{
        margin-left: 15px !important;
        width: 100%;
    }
    .abimg{
        width:650px !important;
    }
    .sas2{
        margin-top: 20px !important;
    }
    
    
}
@media (max-width:767px){
    .abimg{
        width:355px !important;
    }
    .sas ,.sas2{
        margin-left: 20px !important;
    }
    .rarra2{
        width: 120% !important;
    }
}
/* Contact */
.cont{
    width: 100vw;
    height: 90vh;
    /* background-color: #28a745; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center !important; */
    align-items: center !important;
}
.detail{
    width: 50%;
    height: 100%;
}
.form p{
    margin-top: 50px;
    font-size: 1.5rem;
}
#emal{
    width: 25rem;
    height: 3rem;
    border: 1px solid grey;
    border-radius: 0px;
    margin-top: 10px;
}
#em{
    width: 25rem;
    height: 10rem;
    border: 1px solid grey;
    border-radius: 0px;
    margin-top: 50px;
}
.form button{
    margin-top: 40px;
    padding: 15px 180px;
    border-radius: 50px;
    background-color: black;
    border: 0px;
    color: white;
}
.add{
    margin-top: 70px;
    text-align: left;
    margin-left: 100px;
}

@media (max-width:1150px){
    .cont{
        display: block;
        height: 120%;
    }
    .form{
        width: 100%;
    }
    .detail{
        width: 100%;
        margin-top: 50px;
    }
    #emal , #em{
        width: 18rem;
    }
    .form button{
        padding: 10px 50px;
        margin-top: 20px;
    }
    
}